@CHARSET "UTF-8";

*
{
	font-family: "Microsoft YaHei","bold","arial";
}

.centerEle
{
  position: absolute;
  top:50%;
  left:50%;
  width:1px;
  height: 1px;
  border: none;
  overflow:visible;
}

.loading3
{
  position: absolute;
  top: -7px;
  left:-107px;
  width: 214px;
  height: 15px;
  border:blue solid 1px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius: 10px;
  background-image: url(/custom/resources/tyyd/web/mobile/img/dashbord/loading3.gif);
}

.loading5
{
  position: absolute;
  top: -65px;
  left:-65px;
  width: 130px;
  height: 130px;
  background-image: url(/custom/resources/tyyd/web/mobile/img/dashbord/loading5.gif);
}

 
body, html /*保证整体页面不出现超出或者不满屏等奇怪问题*/
{ 
	overflow-x:auto ;
	overflow-y:auto;
	height: 100%;
	width: 100%;
	padding: 0px;
	margin:0px;
	position: absolute;
	top: 0px;
	left: 0px;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	background-repeat: no-repeat;
	background-position: right bottom;
}

html
{
	background-color:#296683;
}

.ForAnalysis
{
	display: none;
}

div
{
	padding: 0px;
	margin:0px;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}


#page
{
	position:absolute;
	overflow-x:hidden ; /*隐藏水平滚动条*/ 
	overflow-y:hidden ; /*隐藏水平滚动条*/		
	height: 100%;
	width: 100%;
	padding: 0px;
	margin:0px;
	top: 0px;
	left: 0px;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
/*	min-height: 100%;
	min-width: 100%;*/
}

#bgimg
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index:0;
	margin:0 0 0 0;
	vertical-align:middle;  /*显示直角矩形*/
}

#logo
{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 230px;
	height: 53px;
	background-image:url(/custom/resources/tyyd/web/mobile/img/logo.png);
}

#globalTipAnchor
{
	top: 5px;
	width: 50%;
}

#globalTipArea
{
	position: absolute;
	top: 50px;
	left: -30%;
	width: 100%;
	height: 20px;
}

#globalTipTable
{
	margin: auto 0;
	width: 100%;
	text-align: left;
}

.globalTipContainer
{
	display: none;
}

.globaltip
{
	color: white;
	
	text-shadow: 1px 1px 5px #000000;
}

.globaltip>*
{
	font-size: 14px;
	color: white;
}



#downloadClientButtion
{
	font-weight: bold;
}

#loadingList
{
	display:block;
}

#username
{
	position: absolute;
	top: 31px;
	right: 32px;
	width: 130px;
	height: 25px;
	color: white;
	text-shadow: 1px 1px 2px #000000;
	text-align: center;
	overflow: hidden; 
	text-overflow:ellipsis;
	word-break:keep-all;
	word-wrap:normal;
	white-space:nowrap;
}

#gear
{
	position: absolute;
	top:10px;
	right:10px;
	width:46px;
	height: 46px;
	background-image: url(/custom/resources/tyyd/web/mobile/img/dashbord/logout.png);
	z-index: 110;
}

#mlogout
{
	position: absolute;
	top:10px;
	right:10px;
	width:46px;
	height: 46px;
	background-image: url(/custom/resources/tyyd/web/mobile/img/dashbord/logout.png);
	z-index: 110;
}

#optionArea
{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 250px;
	height: 227px;
	z-index: 100;
	background-image: url(/custom/resources/tyyd/web/mobile/img/dashbord/optionArea.png);
	display: none;
}

#lang
{
	position: absolute;
	top: 45px;
	right: 186px;
	width: 45px;
	height: 32px;
	background-image: url(/custom/resources/tyyd/web/mobile/img/dashbord/lang.png);
}

#chbg
{
	position: absolute;
	top: 125px;
	right: 175px;
	width: 45px;
	height: 32px;
	background-image: url(/custom/resources/tyyd/web/mobile/img/dashbord/changeBg.png);
}

#chpsw
{
	position: absolute;
	top: 160px;
	right: 115px;
	width: 37px;
	height: 40px;
	background-image: url(/custom/resources/tyyd/web/mobile/img/dashbord/chpsw.png);
}

#logout
{
	position: absolute;
	top: 155px;
	right: 38px;
	width: 46px;
	height: 46px;
	background-image: url(/custom/resources/tyyd/web/mobile/img/dashbord/logout.png);
}

#vmAreaAnchor
{
	width: 100%;
}

#vmArea
{
	position: absolute;
	top: -150px;
	left: -50%;
	width: 100%;
	height: 330px;
	z-index: 50;
	overflow: auto;
	
}

#vmListContainer
{
	width:60%;
	height:300px;
	margin: 0 auto;
}

#vmList
{
	width: 100%;
	overflow: auto;
	text-align:center;
	white-space:nowrap;
}

#vmArea>.mCustomScrollBox>.mCSB_scrollTools{
	width:88%;
	margin: 0 6%;
}

.vmRole
{
	position: relative;
	top:0px;
	left:0px;
	width: 250px;
	height: 250px;
	background-image: url(/custom/resources/tyyd/web/mobile/img/dashbord/vm.png);
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	/*text-align: -moz-center !important;*/
	text-align: center;
	white-space: nowrap;
}

.vmRolePreparing
{
	background-position:center -250px;
}

.connectingVm
{
	position: absolute;
	top: 15px;
	left: 15px;
	width:218px;
	height: 152px;
	background-image: url(/custom/resources/tyyd/web/mobile/img/dashbord/connecting.gif);
	background-position: -8px -28px;
	display: none;
}

.vmLoading
{
	position: absolute;
	top: 145px;
	right: 20px;
	width:20px;
	height: 21px;
	background-image: url(/custom/resources/tyyd/web/mobile/img/dashbord/loading1.gif);
	display: none;
}

.loginVm
{
	position:absolute;
	top:60px;
	left: 100px;
	width:50px;
	height:55px;
	background-image:url(/custom/resources/tyyd/web/mobile/img/dashbord/loginVM.png);
}

.vmRoleConnecting>.connectingVm
{
	display: block;
}

.vmRoleConnecting>.loginVm
{
	display:none;
}

/* 注意a标签的伪类要按照LoVe/HAte的顺序定义，否则匹配顺序不合逻辑*/
a:link.loginVm{background-position:center 0px;}
a:visited.loginVm{background-position:center 0px;}
a:hover.loginVm{background-position:center -56px;}
a:active.loginVm{background-position:center 56px;}

.hdaVersion
{
	position:absolute;
	top:170px;
	left: 17px;
	font-size:12px;
	color: gray;
	text-decoration:none;
}

.hdaVersion:hover {text-decoration: underline;}
.hdaVersion:active {text-decoration:none;}

.vmOption
{
	position:absolute;
	top:170px;
	right: 17px;
	width:28px;
	height:28px;
	background-image:url(/custom/resources/tyyd/web/mobile/img/dashbord/vmOption.png);
	background-color: transparent;
	border: 0px;
}
a:link.vmOption{background-position:center 0px;}
a:visited.vmOption{background-position:center 0px;}
a:hover.vmOption{background-position:center -28px;}
a:active.vmOption{background-position:center 28px;}

.vmOptionPannel
{
	position: absolute;
	top: 200px;
	right: 5px;
	width: 240px;
	height: 35px;
	background-color: #DADEE2;
	display:none;
	-webkit-border-radius: 6px;
	font-size:0.9em;
}

.powerSet
{
	position:absolute;
	top: 6px;
	left: 0px;
	width:90px;
	height:25px;
	text-decoration:blink;
	color:black;
	border-right-style:solid;
	border-right-width:2px;
	border-right-color:rgba(0, 0, 0, 0.3);
}
/* 注意a标签的伪类要按照LoVe/HAte的顺序定义，否则匹配顺序不合逻辑*/
a:link.powerSet{background-position:center 0px;}
a:visited.powerSet{background-position:center 0px;}
a:hover.powerSet{background-position:center -25px;}
a:active.powerSet{background-position:center 25px;}

.loginVnc
{
	position:absolute;
	top: 16px;
	left: 50px;
	width:25px;
	height:25px;
	background-image:url(/custom/resources/tyyd/web/mobile/img/dashbord/VNCButton.png);
}

/* 注意a标签的伪类要按照LoVe/HAte的顺序定义，否则匹配顺序不合逻辑*/
a:link.loginVnc{background-position:center 0px;}
a:visited.loginVnc{background-position:center 0px;}
a:hover.loginVnc{background-position:center -25px;}
a:active.loginVnc{background-position:center 25px;}

.reboot
{
	position:absolute;
	top: 6px;
	left: 93px;
	width:55px;
	height:25px;
	text-decoration:blink;
	color:black;
	border-right-style: solid;
	border-right-width: 2px;
	border-right-color: rgba(0, 0, 0, 0.3);
}

/* 注意a标签的伪类要按照LoVe/HAte的顺序定义，否则匹配顺序不合逻辑*/
a:link.reboot{background-position:center 0px;}
a:visited.reboot{background-position:center 0px;}
a:hover.reboot{background-position:center -25px;}
a:active.reboot{background-position:center 25px;}

.forceReboot
{
	position:absolute;
	top: 6px;
	left: 153px;
	width:80px;
	height:25px;
	background-color: transparent;
	border: 0px;
	text-decoration:blink;
	color:black;
}

/* 注意a标签的伪类要按照LoVe/HAte的顺序定义，否则匹配顺序不合逻辑*/
.forceReboot:link{background-position:center 0px;}
.forceReboot:visited{background-position:center 0px;}
.forceReboot:hover{background-position:center -25px;}
.forceReboot:active{background-position:center 25px;}

.vmTip
{
	position: absolute;
	top: 23px;
	left: 25px;
	width:200px;
	height: 140px;
	font-size:15px;
	display: none;
}

/*把div背景变成一个图片*/
#vmg
{
    position:absolute;
	top:0px;
	left:0px;
	width:200px; 
	height:140px;	
}

/*增加一个div控制提示信息显示层次*/
#textTips
{
   position: absolute;
   left:0px;
   z-index:3;
}

.vmTipText
{
	height: 50px; /*规定小于实际父元素高度的高度，用于解决ie8垂直偏下的bug*/
	padding: 5px;
	white-space: normal;
}

.vmTipOk
{
	position: absolute;
	top: 5px;
	right: 5px;
	width: 10px;
	height: 10px;
	z-index:4;
	background-image: url(/custom/resources/tyyd/web/mobile/img/dashbord/vmTipOk.png);
}

/* 注意a标签的伪类要按照LoVe/HAte的顺序定义，否则匹配顺序不合逻辑*/
.vmTipOk:link{background-position:center 0px;}
.vmTipOk:visited{background-position:center 0px;}
.vmTipOk:hover{background-position:center -10px;}
.vmTipOk:active{background-position:center 10px;}

.vmTipTable
{
	width: 100%;
	height: 100%;
	text-align:center;
}

.vmNameLink, .vmName
{
	position:relative;
	top: 250px;
	display:block;
	color: white;
	text-decoration:none;
	text-shadow: 1px 1px 5px #000000;
	overflow: hidden; 
	text-overflow:ellipsis;
	word-break:keep-all;
	word-wrap:normal;
	white-space:nowrap;
	width:250px;
}

.vmNameLink:hover {text-decoration: underline;}
.vmNameLink:active {text-decoration:none;}

.vmName
{
	display:none;
}

.vmRoleConnecting>.vmNameLink
{
	display:none;
}

.vmRoleConnecting>.vmName
{
	display:block;
}

#messageBox
{
	display: none;
}

.globalMask
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

.globalMaskBack
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.2;
	filter:alpha(opacity=20);
	-moz-opacity:0.2;
	-khtml-opacity: 0.2;
}

.globalDialogAnchor
{
	top: 40%;
}

.globalDialog
{
	position: absolute;
	top: -148px;
	left: -247px;
	width: 494px;
	height: 297px;
	background-image: url(/custom/resources/tyyd/web/mobile/img/dashbord/globalConfirmBox.png);
}

.globalDialogTitle
{
	position: absolute;
	top: 42px;
	left: 40px;
	width: 394px;
	overflow: hidden; 
	text-overflow:ellipsis;
	word-break:keep-all;
	word-wrap:normal;
	white-space:nowrap;
}

.globalDialogClose
{
	position: absolute;
	top: 44px;
	right: 40px;
	width: 16px;
	height: 16px;
	background-image: url(/custom/resources/tyyd/web/mobile/img/dashbord/globalConfirmClose.png);
}

/* 注意a标签的伪类要按照LoVe/HAte的顺序定义，否则匹配顺序不合逻辑*/
.globalDialogClose:link{background-position:center 0px;}
.globalDialogClose:visited{background-position:center 0px;}
.globalDialogClose:hover{background-position:center -16px;}
.globalDialogClose:active{background-position:center 16px;}

#globalConfirmTipContainer
{
	position: absolute;
	top: 132px;
	left: 30px;
	width: 390px;
	overflow: hidden;
	display:table;
}

#globalConfirmTipText
{
	white-space: normal;
	text-align: center;
	vertical-align: middle;
	position: relative;
	height: 100%;
	width: 100%;
	display:table-cell;
}

.globalDialogButtonsWarp
{
	position: absolute;
	bottom: 45px;
	left: 10%;
	width: 80%;
	height: 45px;
}

.globalDialogButtons
{
	margin: 0 auto;
	width: 10%;
}

.globalDialogButton
{
	white-space: normal;
	text-align: center;
	vertical-align: middle;
	position: relative;
	top: 0px;
	left: 0px;
	height: 100%;
}

.globalDialogLinkWarp
{
	position: relative;
	top: 0px;
	left: 0px;
	width: 104px;
	height: 36px;
	display:inline-block;
	margin: 0 auto;
}

.globalDialogLink
{
	position: absolute;
	top: 0px;
	left: 5px;
	width: 94px;
	height: 36px;
	display:inline-block;
}
/* 注意a标签的伪类要按照LoVe/HAte的顺序定义，否则匹配顺序不合逻辑*/
.globalDialogLink:link{background-position:center 0px;}
.globalDialogLink:visited{background-position:center 0px;}
.globalDialogLink:hover{background-position:center -36px;}
.globalDialogLink:active{background-position:center 36px;}

.globalDialogOkLink
{
	background-image: url(/custom/resources/tyyd/web/mobile/img/dashbord/globalConfirmOkLink.png);
}

.globalDialogCanncelLink
{
	background-image: url(/custom/resources/tyyd/web/mobile/img/dashbord/globalConfirmCanncelLink.png);
}

.globalDialogIgnoreLink
{
	background-image: url(/custom/resources/tyyd/web/mobile/img/dashbord/globalConfirmIgnoreLink.png);
}

#choiceLang
{
	display: none;
}

.bigGlobalDialog
{
	height: 397px;
	width: 532px;
	background-image: url(/custom/resources/tyyd/web/mobile/img/dashbord/bigbox.png);
}

.bigGlobalDialog .globalDialogTitle
{
	top: 38px;
}

.bigGlobalDialog .globalDialogClose
{
	top: 40px;
}

.smallGlobalDialog
{
	height: 275px;
	width: 451px;
	background-image: url(/custom/resources/tyyd/web/mobile/img/dashbord/smallbox.png);
}

.smallGlobalDialog .globalDialogTitle
{
	top: 42px;
}

.smallGlobalDialog .globalDialogClose
{
	top: 44px;
}

#choiceLang .langSelector
{
	position: absolute;
	top: 125px;
	left: 20%;
	width: 60%;
}

#changeBg
{
	display:none;
}

#changeBg .bgSelector
{
	position: absolute;
	top: 90px;
	left: 25%;
	width: 50%;
}

#changeBg .bgPreview
{
	position: absolute;
	top: 135px;
	left: 150px;
	width: 232px;
	height: 145px;
	background-color: #296683;
}

#powerMgr
{
	display: none;
}

#powerMgr .powerItemImg
{
	position: absolute;
	top: 90px;
	 left: 210px;
	width: 74px;
	height: 71px;
	background-image: url(/custom/resources/tyyd/web/mobile/img/dashbord/smallvm.png);
}

#powerMgr .powerSelector
{
	position: absolute;
	top: 170px;
	left: 20%;
	width: 60%;
}

#powerMgr .loadingPower
{
	position: absolute;
	top: 190px;
	left: 237px;
	width: 20px;
	height: 21px;
	background-image: url(/custom/resources/tyyd/web/mobile/img/dashbord/loading1.gif);
}

#neterror
{
	display:none;
}

#netErrorTipText
{
	white-space: normal;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	width: 400px;
	left: -200px;
	font-weight: bold;
	font-size: 24px;
	color: white;
	text-shadow: 1px 1px 15px #000000;
}

#neterror>.globalMaskBack
{
	background-color: black;
	opacity: 0.3;
	filter:alpha(opacity=30);
	-moz-opacity:0.3;
	-khtml-opacity: 0.3;
}


#clientIframe
{
	display:none;
}

#clientVersion
{
	position: absolute;
	bottom: 30px;
	left: 20px;
	color: #ddd;
	text-shadow: 1px 1px 2px #000000;
}

#compatibility
{
	position: absolute;
	bottom: 10px;
	right: 20px;
	color: #ddd;
	font-size: 10px;
	text-shadow: 1px 1px 2px #000000;
	display:none;
}

.mobileMask
{
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:1000;
}

.mobileMaskBack
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height:100%;
	background-color:black;
	opacity: 0.2;
	filter:alpha(opacity=20);
	-moz-opacity:0.2;
	-khtml-opacity: 0.2;
}

.mobileDialogAnchor
{
	top: 40%;
}

.mobileDialog
{
	position: absolute;
	top: -100px;
	left: -150px;
	width:300px;
	height:200px;
	-webkit-border-radius: 6px;
	background-color: rgba(252, 250, 250, 1);
}

.smallMobileDialog
{
	height: 200px;
	width: 300px;
}

#mobileConfirmTipContainer
{
	position: absolute;
	top: 20%;
	left: 0%;
	width: 100%;
	overflow: hidden;
	display:table;
}

#mobileConfirmTipText
{
	white-space: normal;
	text-align: left;
	vertical-align: middle;
	position: relative;
	height: 100%;
	width: 100%;
	display:table-cell;
	color:#000000;
	padding-left:5px;
}

.mobileDialogButtonsWarp
{
	position: absolute;
	bottom: 1px;
	left: 0%;
	width: 100%;
	height: 45px;
	padding-top: 5px;
	border-top:1px solid #999999;
}

.mobileDialogLinkWarp
{
	width:100px;
	height:35px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc) ,to(#999));
}

/* 注意a标签的伪类要按照LoVe/HAte的顺序定义，否则匹配顺序不合逻辑*/
.mobileDialogLink:link{background-position:center 0px;}
.mobileDialogLink:visited{background-position:center 0px;}
.mobileDialogLink:hover{background-position:center -36px;}
.mobileDialogLink:active{background-position:center 36px;}

.mobileDialogOkLink
{
	position:absolute;
	width:100px;
	height:35px;
	color:black;
	font-size:16px;
	text-align:center;
	text-decoration: none;
	top:25%;
}

.mobileDialogCancelLink
{
	position:absolute;
	width:100px;
	height:35px;
	color:black;
	font-size:16px;
	text-align:center;
	text-decoration: none;
	top:25%;
}

.mobileDialogButtons
{
	margin: 0 auto;
	width: 10%;
}

.mobileCenterEle
{
  position: absolute;
  top:40%;
  left:50%;
  width:1px;
  height: 1px;
  border: none;
  overflow:visible;
}
