*
{
	font-family: "微软雅黑","黑体","arial";
}
html
{
	background-color: #296683;
}
body, html /*保证整体页面不出现超出或者不满屏等奇怪问题*/
{ 
	overflow-x:auto ;
	overflow-y:auto;
	height: 100%;
	width: 100%;
	padding: 0px;
	margin:0px;
	position: absolute;
	top: 0px;
	left: 0px;
	
	background-repeat: no-repeat;
	background-position: right bottom;
}
#logo
	{
		position:absolute;
		top:36px;
		left:52px;
		height:53px;
		width:230px;	
		z-index:1;
		
	}
#logoimg
{
	position:absolute;
	top:0px;
	left:0px;
	height:53px;
	width:230px;
	z-index:1;
}

#bg
	{
		position: absolute;
  		left: 0px;
  		top: 0px;
		width:100%;
		height:100%;
  		z-index:0;
  		margin:0 0 0 0;
	    overflow:hidden;
		
	}

#bgimg
{
	position:absolute;
	top:0px;
	left:0px;
	z-index:0;
}
/*
 * 密码已过期提示框
 */
#passExpired
{
	position:absolute;
	top:40%;
	left:35%;
	width:494px;
	height:297px;	
}
#alertBg
{
	position:absolute;
	top:0px;
	left:0px;
	width:494px;
	height:297px;
	z-index:1;	
}
#alertTitle
{
	position:absolute;
	top:45px;
	left:42px;
	width:400px;
	height:20px;
	z-index:2;
	border:none;
	font-size:15px;
	font-weight:bold;
	color:#000000;
	text-align:left;
	vertical-align:text-top;
		
}
#alertIcon
{
	position:absolute;
	top:128px;
	left:135px;
	width:32px;
	height:32px;
	z-index:2;
}
#alertText
{
	position:absolute;
	left: 175px;
  	top: 134px;
	height:15px;
	width:250px;
	border:none;
	z-index:2;
	font-size:15px;
	font:"Arial Black";
	color:#000000;
	text-align:left;
	font-weight:bold;
}
.btnDiv
{
	width:94px;
	height:36px;
	z-index:2;
}
#confirmDiv
{
	position:absolute;
	left: 145px;
  	top: 202px;
	
}
#cancelDiv
{
	position:absolute;
	left: 255px;
  	top: 202px;
}

#confirmMod
{
	position:absolute;
	left: 145px;
  	top: 200px;
	background-image:url(/uns/default/img/btnyes.png);	
}

#cancelMod
{
	position:absolute;
	left: 255px;
  	top: 200px;
	background-image:url(/uns/default/img/btnno.png);
}
.btnA
{
	position:absolute;
	left: 0px;
  	top: 0px;	
	z-index:2;
	width:94px;
	height:36px;
	font-size:15px;
	color:#000000;
	text-align:center;
	vertical-align:text-bottom;
	font-style:normal;
	text-decoration:none;
	
}
a:link.btnA{color:#000000;background-position:center 0px;}
a:visited.btnA{color:#000000;background-position:center 0px;}
a:hover.btnA{color:#000000;background-position:center -36px;}
a:active.btnA{color:#000000;background-position:center 36px;}



/*
 * 修改密码界面
 */
#modifyPasswordDiv
{
	position:absolute;
	top:0px;
	left:0px;
	width:532px;
	height:397px;
}
#modBg
{
	position:absolute;
	top:0px;
	left:0px;
	width:532px;
	height:397px;
	z-index:1;
}
#modTitle
{
	position:absolute;
	top:40px;
	left:42px;
	width:494px;
	height:20px;
	z-index:2;
	border:none;
	font-size:15px;
	font-weight:bold;
	color:#000000;
	text-align:left;
	vertical-align:text-top;
}

#modifyInputDiv
{
	position:absolute;
	top:75px;
	left:20px;
	width:480px;
	height:240px;
	z-index:1;	
}
#modifySuccessDiv
{
	position:absolute;
	top:75px;
	left:20px;
	width:480px;
	height:240px;
	z-index:1;	
}

/*
 * 修改密码界面的错误提示框
 */
#errorModifyDiv
{
	position:absolute;
	left:40px;
	top:5px;
	height:37px;
	width:450px;
	z-index:2;
	background-color:#ffd9ec;	
}
#errorDivImg
{
	position:absolute;
	left:5px;
	top:5px;
	height:16px;
	width:16px;
	z-index:3;	
}
#errorDivLB
{
	position:absolute;
	left:27px;
	top:3px;
	height:14px;
	width:420px;
	z-index:3;	
	border:none;
	font-size:12px;
	font-weight:normal;
	color:#808080;
	text-align:left;
	vertical-align:text-top;
}

/*
 * 修改密码界面的修改密码框
 */
.divClass
{
	position:absolute;
	left:100px;
	height:55px;
	width:300px;
	z-index:2;	
}
#usernameDIV
{
	top:39px;
}
#oldPassDIV
{
	top:84px;
}
#newPassDIV
{
	top:129px;
}
#renewPassDIV
{
	top:173px;
}
.labelClass
{
	position:absolute;
	left:0px;
	top:8px;
	height:30px;
	width:70px;
	z-index:3;
	border:none;
	font-size:12px;
	font-weight:normal;
	color:#000000;
	text-align:left;
	vertical-align:text-top;
}
.inputClass
{
	position:absolute;
	left:70px;
	top:0px;
	height:25px;
	width:230px;
	z-index:3;
	font-size:12px;
	font-weight:normal;
	color:#000000;
	text-align:left;
	vertical-align:text-top;
	border:#e3e3e3 solid thin;	
	
}

#confirmBtn
{
	position:absolute;
	left: 145px;
  	top: 235px;
	background-image:url(/uns/default/img/btnyes.png);	
}

#cancelBtn
{
	position:absolute;
	left: 252px;
  	top: 235px;
	background-image:url(/uns/default/img/btnno.png);
}
#loadingpanel
	{
		position:absolute;
		top:48%;
		left:48%;
		height:100px;		
		width:100px;
		TEXT-ALIGN: center;/*水平居中*/
		vertical-align:middle;  /*显示直角矩形*/
		z-index:0;
	}
/*
 * 修改密码界面的密码修改成功提示框
 */
#successImg
{
	position:absolute;
	left:100px;
	top:70px;
	height:78px;
	width:70px;
	z-index:3;	
}
#successLB1
{
	position:absolute;
	left:183px;
	top:83px;
	height:20px;
	width:300px;
	z-index:3;
	border:none;
	font-size:15px;
	font-weight:bold;
	color:#000000;
	text-align:left;
	vertical-align:text-top;	
}
#successLB2
{
	position:absolute;
	left:183px;
	top:105px;
	height:20px;
	width:300px;
	z-index:3;
	border:none;
	font-size:12px;
	font-weight:normal;
	color:#808080;
	text-align:left;
	vertical-align:text-top;
}
#successA
{
	position:absolute;
	left:183px;
	top:170px;
	height:20px;
	width:250px;
	z-index:3;
	border:none;
	font-size:12px;
	font-weight:normal;
	color:#808080;
	text-align:left;
	vertical-align:text-top;
	text-decoration:none;
}
a:link#successA{color:#6a6aff;background-position:center 0px;}
a:visited#successA{color:#6a6aff;background-position:center 0px;}
a:hover#successA{color:#0000ff;background-position:center -36px;}
a:active#successA{color:#0000bb;background-position:center 36px;}








