@CHARSET "UTF-8";

*
{
	font-family: "Microsoft YaHei","bold","arial";
}

.centerEle
{
  position: absolute;
  top:50%;
  left:50%;
  width:1px;
  height: 1px;
  border: none;
  overflow:visible;
}

.loading3
{
  position: absolute;
  top: -7px;
  left:-107px;
  width: 214px;
  height: 15px;
  border:blue solid 1px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius: 10px;
<<<<<<< HEAD
  background-image: url(/uns/default/img/dashbord/loading3.gif);
=======
  background-image: url(/webui/default/img/dashbord/loading3.gif);
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
}

.loading5
{
  position: absolute;
  top: -65px;
  left:-65px;
  width: 130px;
  height: 130px;
<<<<<<< HEAD
  background-image: url(/uns/default/img/dashbord/loading5.gif);
=======
  background-image: url(/webui/default/img/dashbord/loading5.gif);
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
}

 
body, html /*保证整体页面不出现超出或者不满屏等奇怪问题*/
{ 
	overflow-x:auto ;
	overflow-y:auto;
	height: 100%;
	width: 100%;
	padding: 0px;
	margin:0px;
	position: absolute;
	top: 0px;
	left: 0px;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	background-repeat: no-repeat;
	background-position: right bottom;
}

html
{
	background-color:#296683;
}

.ForAnalysis
{
	display: none;
}

div
{
	padding: 0px;
	margin:0px;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}


#page
{
	position:absolute;
	overflow-x:hidden ; /*隐藏水平滚动条*/ 
	overflow-y:hidden ; /*隐藏水平滚动条*/		
	height: 100%;
	width: 100%;
	padding: 0px;
	margin:0px;
	position: absolute;
	top: 0px;
	left: 0px;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	min-height: 700px;
	min-width: 1024px;
}

#bgimg
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index:0;
	margin:0 0 0 0;
	vertical-align:middle;  /*显示直角矩形*/
}

#logo
{
	position: absolute;
	top: 36px;
	left: 52px;
	width: 230px;
	height: 53px;
}

#globalTipAnchor
{
	top: 5px;
	width: 50%;
}

#globalTipArea
{
	position: absolute;
<<<<<<< HEAD
	top: 35px;
=======
	top: 50px;
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
	left: -30%;
	width: 100%;
	height: 20px;
}

#globalTipTable
{
	margin: auto 0;
	width: 100%;
	text-align: left;
}

.globalTipContainer
{
	display: none;
}

.globaltip
{
	color: white;
	
	text-shadow: 1px 1px 5px #000000;
}

.globaltip>*
{
	font-size: 14px;
	color: white;
}

.yellowicon
{
	background-image: url(/uns/default/img/yellowicon.png);
}

#downloadClientButtion
{
	font-weight: bold;
}

#loadingList
{
	display:block;
}

#username
{
	position: absolute;
	top: 31px;
	right: 32px;
	width: 130px;
	height: 25px;
	color: white;
	text-shadow: 1px 1px 2px #000000;
	text-align: center;
	overflow: hidden; 
	text-overflow:ellipsis;
	word-break:keep-all;
	word-wrap:normal;
	white-space:nowrap;
}

#gear
{
	position: absolute;
	top:55px;
	right:75px;
	width:46px;
	height: 46px;
<<<<<<< HEAD
	background-image: url(/uns/default/img/dashbord/gear.png);
=======
	background-image: url(/webui/default/img/dashbord/gear.png);
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
	z-index: 110;
}

#optionArea
{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 250px;
	height: 227px;
	z-index: 100;
<<<<<<< HEAD
	background-image: url(/uns/default/img/dashbord/optionArea.png);
=======
	background-image: url(/webui/default/img/dashbord/optionArea.png);
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
	display: none;
}

#lang
{
	position: absolute;
	top: 45px;
	right: 186px;
	width: 45px;
	height: 32px;
	background-image: url(/uns/default/img/dashbord/lang.png);
}

#chbg
{
	position: absolute;
	top: 125px;
	right: 175px;
	width: 45px;
	height: 32px;
<<<<<<< HEAD
	background-image: url(/uns/default/img/dashbord/changeBg.png);
=======
	background-image: url(/webui/default/img/dashbord/changeBg.png);
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
}

#chpsw
{
	position: absolute;
	top: 160px;
	right: 115px;
	width: 37px;
	height: 40px;
<<<<<<< HEAD
	background-image: url(/uns/default/img/dashbord/chpsw.png);
=======
	background-image: url(/webui/default/img/dashbord/chpsw.png);
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
}

#logout
{
	position: absolute;
	top: 155px;
	right: 38px;
	width: 46px;
	height: 46px;
<<<<<<< HEAD
	background-image: url(/uns/default/img/dashbord/logout.png);
=======
	background-image: url(/webui/default/img/dashbord/logout.png);
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
}

#vmAreaAnchor
{
	width: 100%;
}

#vmArea
{
	position: absolute;
	top: -150px;
	left: -50%;
	width: 100%;
	height: 330px;
	z-index: 50;
	overflow: auto;
}

#vmListContainer
{
	width:60%;
	height:300px;
	margin: 0 auto;
}

#vmList
{
	width: 100%;
	overflow: auto;
	text-align:center;
	white-space:nowrap;
}

#vmArea>.mCustomScrollBox>.mCSB_scrollTools{
	width:88%;
	margin: 0 6%;
}

.vmRole
{
	position: relative;
	top:0px;
	left:0px;
	width: 250px;
	height: 250px;
<<<<<<< HEAD
	background-image: url(/uns/default/img/dashbord/vm.png);
=======
	background-image: url(/webui/default/img/dashbord/vm.png);
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
	/*display:-moz-inline-stack !important; // for firefox 3*/
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	/*text-align: -moz-center !important;*/
	text-align: center;
	white-space: nowrap;
}

.vmRolePreparing
{
	background-position:center -250px;
}

.connectingVm
{
	position: absolute;
	top: 15px;
	left: 15px;
	width:218px;
	height: 152px;
<<<<<<< HEAD
	background-image: url(/uns/default/img/dashbord/connecting.gif);
=======
	background-image: url(/webui/default/img/dashbord/connecting.gif);
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
	background-position: -8px -28px;
	display: none;
}

.vmLoading
{
	position: absolute;
	top: 145px;
	right: 20px;
	width:20px;
	height: 21px;
<<<<<<< HEAD
	background-image: url(/uns/default/img/dashbord/loading1.gif);
=======
	background-image: url(/webui/default/img/dashbord/loading1.gif);
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
	display: none;
}

.loginVm
{
	position:absolute;
	top:60px;
	left: 100px;
	width:50px;
	height:55px;
<<<<<<< HEAD
	background-image:url(/uns/default/img/dashbord/loginVM.png);
=======
	background-image:url(/webui/default/img/dashbord/loginVM.png);
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
}

.vmRoleConnecting>.connectingVm
{
	display: block;
}

.vmRoleConnecting>.loginVm
{
	display:none;
}

/* 注意a标签的伪类要按照LoVe/HAte的顺序定义，否则匹配顺序不合逻辑*/
a:link.loginVm{background-position:center 0px;}
a:visited.loginVm{background-position:center 0px;}
a:hover.loginVm{background-position:center -56px;}
a:active.loginVm{background-position:center 56px;}

.hdaVersion
{
	position:absolute;
	top:170px;
	left: 17px;
	font-size:12px;
	color: gray;
	text-decoration:none;
}

.hdaVersion:hover {text-decoration: underline;}
.hdaVersion:active {text-decoration:none;}

.vmOption
{
	position:absolute;
	top:170px;
	right: 17px;
	width:28px;
	height:28px;
<<<<<<< HEAD
	background-image:url(/uns/default/img/dashbord/vmOption.png);
=======
	background-image:url(/webui/default/img/dashbord/vmOption.png);
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
	background-color: transparent;
	border: 0px;
}
a:link.vmOption{background-position:center 0px;}
a:visited.vmOption{background-position:center 0px;}
a:hover.vmOption{background-position:center -28px;}
a:active.vmOption{background-position:center 28px;}

.vmOptionPannel
{
	position: absolute;
	top: 190px;
	right: 0px;
	width: 154px;
	height: 51px;
<<<<<<< HEAD
	background-image: url(/uns/default/img/dashbord/vmOptionPannel.png);
=======
	background-image: url(/webui/default/img/dashbord/vmOptionPannel.png);
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
	display: none;
}

.powerSet
{
	position:absolute;
	top: 16px;
	left: 15px;
	width:25px;
	height:25px;
<<<<<<< HEAD
	background-image:url(/uns/default/img/dashbord/PowerButton.png);
=======
	background-image:url(/webui/default/img/dashbord/PowerButton.png);
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
}
/* 注意a标签的伪类要按照LoVe/HAte的顺序定义，否则匹配顺序不合逻辑*/
a:link.powerSet{background-position:center 0px;}
a:visited.powerSet{background-position:center 0px;}
a:hover.powerSet{background-position:center -25px;}
a:active.powerSet{background-position:center 25px;}

.loginVnc
{
	position:absolute;
	top: 16px;
	left: 50px;
	width:25px;
	height:25px;
<<<<<<< HEAD
	background-image:url(/uns/default/img/dashbord/VNCButton.png);
=======
	background-image:url(/webui/default/img/dashbord/VNCButton.png);
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
}

/* 注意a标签的伪类要按照LoVe/HAte的顺序定义，否则匹配顺序不合逻辑*/
a:link.loginVnc{background-position:center 0px;}
a:visited.loginVnc{background-position:center 0px;}
a:hover.loginVnc{background-position:center -25px;}
a:active.loginVnc{background-position:center 25px;}

.reboot
{
	position:absolute;
	top: 16px;
	left: 85px;
	width:25px;
	height:25px;
<<<<<<< HEAD
	background-image:url(/uns/default/img/dashbord/rebootButton.png);
=======
	background-image:url(/webui/default/img/dashbord/rebootButton.png);
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
}

/* 注意a标签的伪类要按照LoVe/HAte的顺序定义，否则匹配顺序不合逻辑*/
a:link.reboot{background-position:center 0px;}
a:visited.reboot{background-position:center 0px;}
a:hover.reboot{background-position:center -25px;}
a:active.reboot{background-position:center 25px;}

.forceReboot
{
	position:absolute;
	top: 16px;
	left: 120px;
	width:25px;
	height:25px;
<<<<<<< HEAD
	background-image:url(/uns/default/img/dashbord/forceRebootButton.png);
=======
	background-image:url(/webui/default/img/dashbord/forceRebootButton.png);
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
	background-color: transparent;
	border: 0px;
}

/* 注意a标签的伪类要按照LoVe/HAte的顺序定义，否则匹配顺序不合逻辑*/
.forceReboot:link{background-position:center 0px;}
.forceReboot:visited{background-position:center 0px;}
.forceReboot:hover{background-position:center -25px;}
.forceReboot:active{background-position:center 25px;}

.vmTip
{
	position: absolute;
	top: 23px;
	left: 25px;
	width:200px;
	height: 140px;
	font-size:15px;
	display: none;
}

/*把div背景变成一个图片*/
#vmg
{
    position:absolute;
	top:0px;
	left:0px;
	width:200px; 
	height:140px;	
}

/*增加一个div控制提示信息显示层次*/
#textTips
{
   position: absolute;
   left:0px;
   z-index:3;
}

.vmTipText
{
	height: 50px; /*规定小于实际父元素高度的高度，用于解决ie8垂直偏下的bug*/
	padding: 5px;
	white-space: normal;
}

.vmTipOk
{
	position: absolute;
	top: 5px;
	right: 5px;
	width: 10px;
	height: 10px;
	z-index:4;
<<<<<<< HEAD
	background-image: url(/uns/default/img/dashbord/vmTipOk.png);
=======
	background-image: url(/webui/default/img/dashbord/vmTipOk.png);
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
}

/* 注意a标签的伪类要按照LoVe/HAte的顺序定义，否则匹配顺序不合逻辑*/
.vmTipOk:link{background-position:center 0px;}
.vmTipOk:visited{background-position:center 0px;}
.vmTipOk:hover{background-position:center -10px;}
.vmTipOk:active{background-position:center 10px;}

.vmTipTable
{
	width: 100%;
	height: 100%;
	text-align:center;
}

.vmNameLink, .vmName
{
	position:relative;
	top: 250px;
	/*display:-moz-inline-stack !important; // for firefox 3*/
	display:block;
	color: white;
	text-decoration:none;
	text-shadow: 1px 1px 5px #000000;
	overflow: hidden; 
	text-overflow:ellipsis;
	word-break:keep-all;
	word-wrap:normal;
	white-space:nowrap;
	width:250px;
}

.vmNameLink:hover {text-decoration: underline;}
.vmNameLink:active {text-decoration:none;}

.vmName
{
	display:none;
}

.vmRoleConnecting>.vmNameLink
{
	display:none;
}

.vmRoleConnecting>.vmName
{
	/*display:-moz-inline-stack !important; // for firefox 3*/
	display:block;
}

#messageBox
{
	display: none;
}

.globalMask
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

.globalMaskBack
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.2;
	filter:alpha(opacity=20);
	-moz-opacity:0.2;
	-khtml-opacity: 0.2;
}

.globalDialogAnchor
{
	top: 40%;
}

.globalDialog
{
	position: absolute;
	top: -148px;
	left: -247px;
	width: 494px;
	height: 297px;
<<<<<<< HEAD
	background-image: url(/uns/default/img/dashbord/globalConfirmBox.png);
=======
	background-image: url(/webui/default/img/dashbord/globalConfirmBox.png);
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
}

.globalDialogTitle
{
	position: absolute;
	top: 42px;
	left: 40px;
	width: 394px;
	overflow: hidden; 
	text-overflow:ellipsis;
	word-break:keep-all;
	word-wrap:normal;
	white-space:nowrap;
}

.globalDialogClose
{
	position: absolute;
	top: 44px;
	right: 40px;
	width: 16px;
	height: 16px;
<<<<<<< HEAD
	background-image: url(/uns/default/img/dashbord/globalConfirmClose.png);
=======
	background-image: url(/webui/default/img/dashbord/globalConfirmClose.png);
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
}

/* 注意a标签的伪类要按照LoVe/HAte的顺序定义，否则匹配顺序不合逻辑*/
.globalDialogClose:link{background-position:center 0px;}
.globalDialogClose:visited{background-position:center 0px;}
.globalDialogClose:hover{background-position:center -16px;}
.globalDialogClose:active{background-position:center 16px;}

#globalConfirmTipContainer
{
	position: absolute;
	top: 132px;
	left: 30px;
	width: 390px;
	overflow: hidden;
	display:table;
}

#globalConfirmTipText
{
	white-space: normal;
	text-align: center;
	vertical-align: middle;
	position: relative;
	height: 100%;
	width: 100%;
	display:table-cell;
}

.globalDialogButtonsWarp
{
	position: absolute;
	bottom: 45px;
	left: 10%;
	width: 80%;
	height: 45px;
}

.vncCheckbox
{
	bottom:85px;
	left:30px;
	position:absolute;
	display:none;
	font-size:10px;
}

.globalDialogButtons
{
	margin: 0 auto;
	width: 10%;
}

.globalDialogButton
{
	white-space: normal;
	text-align: center;
	vertical-align: middle;
	position: relative;
	top: 0px;
	left: 0px;
	height: 100%;
}

.globalDialogLinkWarp
{
	position: relative;
	top: 0px;
	left: 0px;
	width: 104px;
	height: 36px;
	display:inline-block;
	margin: 0 auto;
}

.globalDialogLink
{
	position: absolute;
	top: 0px;
	left: 5px;
	width: 94px;
	height: 36px;
	display:inline-block;
}
/* 注意a标签的伪类要按照LoVe/HAte的顺序定义，否则匹配顺序不合逻辑*/
.globalDialogLink:link{background-position:center 0px;}
.globalDialogLink:visited{background-position:center 0px;}
.globalDialogLink:hover{background-position:center -36px;}
.globalDialogLink:active{background-position:center 36px;}

.globalDialogOkLink
{
<<<<<<< HEAD
	background-image: url(/uns/default/img/dashbord/globalConfirmOkLink.png);
=======
	background-image: url(/webui/default/img/dashbord/globalConfirmOkLink.png);
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
}

.globalDialogCanncelLink
{
<<<<<<< HEAD
	background-image: url(/uns/default/img/dashbord/globalConfirmCanncelLink.png);
=======
	background-image: url(/webui/default/img/dashbord/globalConfirmCanncelLink.png);
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
}

.globalDialogIgnoreLink
{
<<<<<<< HEAD
	background-image: url(/uns/default/img/dashbord/globalConfirmIgnoreLink.png);
=======
	background-image: url(/webui/default/img/dashbord/globalConfirmIgnoreLink.png);
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
}

#choiceLang
{
	display: none;
}

.bigGlobalDialog
{
	height: 397px;
	width: 532px;
<<<<<<< HEAD
	background-image: url(/uns/default/img/dashbord/bigbox.png);
=======
	background-image: url(/webui/default/img/dashbord/bigbox.png);
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
}

.bigGlobalDialog .globalDialogTitle
{
	top: 38px;
}

.bigGlobalDialog .globalDialogClose
{
	top: 40px;
}

.smallGlobalDialog
{
	height: 275px;
	width: 451px;
<<<<<<< HEAD
	background-image: url(/uns/default/img/dashbord/smallbox.png);
=======
	background-image: url(/webui/default/img/dashbord/smallbox.png);
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
}

.smallGlobalDialog .globalDialogTitle
{
	top: 42px;
}

.smallGlobalDialog .globalDialogClose
{
	top: 44px;
}

#choiceLang .langSelector
{
	position: absolute;
	top: 125px;
	left: 20%;
	width: 60%;
}

#changeBg
{
	display:none;
}

#changeBg .bgSelector
{
	position: absolute;
	top: 90px;
	left: 25%;
	width: 50%;
}

#changeBg .bgPreview
{
	position: absolute;
	top: 135px;
	left: 150px;
	width: 232px;
	height: 145px;
	background-color: #296683;
}

#powerMgr
{
	display: none;
}

#powerMgr .powerItemImg
{
	position: absolute;
	top: 90px;
	left: 210px;
	width: 74px;
	height: 71px;
	background-image: url(/uns/default/img/dashbord/smallvm.png);
}

#powerMgr .powerSelector
{
	position: absolute;
	top: 170px;
	left: 20%;
	width: 60%;
}

#powerMgr .loadingPower
{
	position: absolute;
	top: 190px;
	left: 237px;
	width: 20px;
	height: 21px;
<<<<<<< HEAD
	background-image: url(/uns/default/img/dashbord/loading1.gif);
=======
	background-image: url(/webui/default/img/dashbord/loading1.gif);
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
}

#neterror
{
	display:none;
}

#netErrorTipText
{
	white-space: normal;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	width: 400px;
	left: -200px;
	font-weight: bold;
	font-size: 24px;
	color: white;
	text-shadow: 1px 1px 15px #000000;
}

#neterror>.globalMaskBack
{
	background-color: black;
	opacity: 0.3;
	filter:alpha(opacity=30);
	-moz-opacity:0.3;
	-khtml-opacity: 0.3;
}


#clientIframe
{
	display:none;
}

#clientVersion
{
	position: absolute;
	bottom: 30px;
	left: 20px;
	color: #ddd;
	text-shadow: 1px 1px 2px #000000;
}

#compatibility
{
	position: absolute;
	bottom: 10px;
	right: 20px;
	color: #ddd;
	font-size: 10px;
	text-shadow: 1px 1px 2px #000000;
	display:none;
}
div.HiddenDiv
{
    width: 0px;
    height: 0px;
    position: fixed;
    left:-100px;
    top: -100px;
    visibility: hidden;
}

.chromeDownloadTip
{
	position: absolute;
<<<<<<< HEAD
	top: 30px;
=======
	top: 50px;
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
}

.yellowicon
{
<<<<<<< HEAD
	background-image: url(/uns/default/img/yellowicon.png);
=======
	background-image: url(/webui/default/img/yellowicon.png);
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
	position: absolute;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	left: -20px;
}
<<<<<<< HEAD

.clientTip
{
	font-size:12px;
	margin:0px 0px 0px 130px;
	color: white;
	float: left;
}

.textTip
{
	float: left;
	margin-right:5px;
}

#pluginTipArea a
{
	color: white;
}
.pluginArea
{
	min-height: 25px;
}

.leftBtn
{
	position: absolute;
	left:120px;
	top:48%;
	cursor:pointer;
	display: none;
	z-index: 500;
}
.leftBtn img
{
	border: 0px;
}

.rightBtn
{
	position: absolute;
	right:120px;
	top:48%;
	cursor:pointer;
	text-decoration: none;
	display: none;
	z-index: 500;
}

.rightBtn img
{
	border: 0px;
}

.slideBottomArea
{
	position: absolute;
	z-index: 120;
	left: 50%;
}

.slideArea
{
	position: relative;
	left:-50%;
	display: none;
	text-align: center;
}

.appListMain
{
	position: absolute;
	top: -160px;
	left: -50%;
	width: 100%;
	z-index: 50;
	overflow-x: visible;
	overflow-y: visible;
}

#myAppList
{
	width: 1000px;
	height: 100%;
}

#allAppList
{
	width: 1000px;
	height: 100%;
}

.appDivEle
{
	position: absolute;
	top: 350px;
	left: 50%;
	width: 890px;
}


.appListMain li
{
	list-style-type: none;
	float: left;
	margin:0px;
	position: relative;
}

.appItemDiv
{
	float: left;
	position: relative;
}

.floatDiv
{
	width: 100%;
	height: 100%;
	margin-bottom: 15px;
	z-index: 90;
	position: absolute;
	background-image: url("/uns/default/img/app/float.png");
	display: none;
	left: 0px;
	top: 0px;
}

.angleDiv
{
	width: 44px;
	height: 44px;
	z-index: 95;
	position: absolute;
	right: 0px;
	top: 0px;
}

.angleDiv1
{
	background-repeat: no-repeat;
	background-image: url("/uns/default/img/app/angle.png");	
	display: none;
}
.angleDiv1 a
{
	width: 16px;
	height: 16px;
	cursor: pointer;
	background-image: url("/uns/default/img/app/delete.png");
	background-repeat: no-repeat;
	position: absolute;
	top: 6px;
	left: 22px;
}
.angleDiv1 a:link{background-image: url("/uns/default/img/app/delete.png");background-repeat: no-repeat;}
.angleDiv1 a:visited{background-image: url("/uns/default/img/app/delete.png");background-repeat: no-repeat;}
.angleDiv1 a:hover{background-image: url("/uns/default/img/app/delete_hover.png");background-repeat: no-repeat;}
.angleDiv1 a:active{background-image: url("/uns/default/img/app/delete_hover.png");background-repeat: no-repeat;}

.angleDiv2
{
	display: block;
}

.angleDiv2 a
{
	width: 16px;
	height: 16px;
	cursor: pointer;
	background-image: url("/uns/default/img/app/heart.png");
	background-repeat: no-repeat;
	position: absolute;
	top: 6px;
	left: 22px;
}

.angleDivBg
{
	background-image: url("/uns/default/img/app/angle.png");
	background-repeat: no-repeat;
}

.fillAngleBank
{
	position: absolute;
	width: 28px;
	height: 28px;
	top: 22px;
	right: 22px;
	z-index: 96;
	cursor: pointer;
}

.bgImgItem
{
	background-image: url("/uns/default/img/app/whiteboard.png");
	position: relative;
	z-index: 91;
	overflow: visible;
	cursor: pointer;
}

.bgImgItem img
{
	width: 38%;
	height: 38%;
	margin: 31%;
	cursor: pointer;
}

.appNameItem
{
	text-align: center;
	color: white;
	padding-top: 0px;
	width: 120%;
	margin-left: -10%;
	height: 42px;
	word-wrap: break-word;
	overflow: hidden;
}

.appNameItem a
{
	color: white;
	text-decoration: none;
	text-shadow: 1px 1px 5px #000000;
	cursor: pointer;
	font-size: 13px;
}

.tabBtnStyle
{
	background-image: url("/uns/default/img/app/menubottom.png");
	width:396px;
	height: 50px;
	padding: 0px;
	cursor: pointer;
	display: none;
	background-repeat: no-repeat;
	margin-left: 10px;
}

.tabBtnStyle2
{
	background-image: url("/uns/default/img/app/menubottom2.png") !important;
	margin-left: 75px;
}

.tabBtnLeft
{
	width:131px;
	height: 50px;
	padding: 0px;
	margin: 0px 1px 0px 0px;
	float: left;
	text-align: center;
	line-height: 45px;
}

.tabBtnCenter
{
	background-image: url("/uns/default/img/app/menucenter.png");
	width:131px;
	height: 50px;
	padding: 0px;
	margin: 0px 1px 0px 0px;
	float: left;
	text-align: center;
	line-height: 45px;
}

.tabBtnRight
{
	background-image: url("/uns/default/img/app/menuright.png");
	width:131px;
	height: 50px;
	padding: 0px;
	margin: 0px 1px 0px 0px;
	float: left;
	text-align: center;
	line-height: 45px;
}

.tabBtnColor1
{
	color: #787878;
}

.tabBtnColor2
{
	color: white;
}

.searchArea
{
	float: right;
	position: absolute;
	top: -190px;
	z-index: 101;
	overflow: visible;
	width: 260px;
	display: none;
	border:0px;
	padding-left: 20px;
	line-height: 24px;
	height: 36px;
	background-image: url("/uns/default/img/app/search_bg.png");
}

.searchImg
{
	position: absolute;
	top: 10px;
	left: 10px;
	cursor: pointer;
}

.searchInput
{
	border: 0px;
	width: 240px;
	line-height: 24px;
	height: 36px;
	background:transparent;
	color: #EEEEEE;
	outline: none;
	margin-left: 15px;
	font-size: 12px;
}

.selectAppName
{
	display: none;
	position: absolute;
	top: 36px;
	left: -1px;
	border-bottom: 1px solid #3E768E;
	border-left: 1px solid #3E768E;
	border-right: 1px solid #3E768E;
	max-height: 170px;
	overflow-y: auto; 
	overflow-x: hidden;
	background: white;;
	margin: 0px;
	padding: 0px;
	width: 100%;
	background: #3E768E;
	-moz-opacity: 0.9; /* FF 3.5以下 */  
	opacity: 0.9; /* FF 3.5及以上 */  
	filter: alpha(opacity=90); /* IE6及以上 */ 
	-moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */ 
}

.selectAppName li
{
	margin: 0px;
	list-style: none;
	font-size: 12px;
	cursor: pointer;
	padding:5px;
	color: white;
	font-size: 14px;
}

.selectAppName li:link{background-color: #5791AB;}
.selectAppName li:visited{background-color: #5791AB;}
.selectAppName li:hover{background-color: #5791AB;}
.selectAppName li:active{background-color: #5791AB;}

.normalLight {
	float: left;
	list-style: none;
	background-image: url("/uns/default/img/app/page_dark.png");
	width: 16px;
	height: 16px;
	margin-right: 10px;
	cursor: pointer;
	background-repeat: no-repeat;
}

.hightLight {
	float: left;
	list-style: none;
	background-image: url("/uns/default/img/app/page_light.png");
	width: 16px;
	height: 16px;
	margin-right: 10px;
	cursor: pointer;
	background-repeat: no-repeat;
}

.appCover {
	left: 0px;
	top: 0px;
	position: absolute;
	z-index: 500;
	-moz-opacity: 0.01; /* FF 3.5以下 */  
	opacity: 0.01; /* FF 3.5及以上 */  
	filter: alpha(opacity=1); /* IE6及以上 */  
	width: 120px;
	height: 120px;
	margin: 2px 2px;
	display: none;
	background: white;
	border-radius: 12px; 
	-moz-border-radius: 12px;
 	-webkit-border-radius: 12px;
}

.loaderImg{
	position: absolute;
	right: 8px;
	bottom: 8px;
	width: 16px;
	height: 16px;
	display: none;
	z-index: 501;
}

.tip_box {
	position: absolute;
	font-size: 12px;
	text-align: left;
	top: -29px;
	z-index: 800;
	padding: 0px;
	margin: 0px;
	width: 130px;
	left: -15px;
	border-radius: 5px; 
	border: 1px solid #948A85;
	background: #ECF1F4;
	display: none;
}

.tip_content {
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 125px;
	background: #ECF1F4;
	min-height: 25px;
	max-height: 80px;
	border-radius: 5px 5px 0px 0px; 
	overflow: hidden;
	margin: 5px 2px 0px 5px;
	min-height: 35px;
}
.tip_angle {
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 100%;
	background: #ECF1F4;
	height: 10px;
	border-radius: 0px 0px 5px 5px; 
}

.angle_x,.angle_y {
	position: absolute;
	left: 30%;
}

.angle_x {
	color: #ECF1F4;
	top: -4px;
	font-size: 20px;
	z-index: 1;
}

.angle_y {
	color: #948A85;
	top: -3px;
	font-size: 20px;
}

.vipFlag
{
  position: absolute;
  top: 175px;
  width: 40px;
  height: 28px;
  left: 113px;
  background-image: url(/uns/default/img/vip.png);
  background-repeat: no-repeat;
}

#appErrorTip
{
	display:none;
}

#appErrorTip .tipContent
{
	margin: 100px 50px;
	text-align: center;
}

.globalDialogDownloadLink
{
	background-image: url(/uns/default/img/dashbord/button.png);
	text-decoration: blink;
  	color: #414141;
  	line-height: 29px;
}
=======
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
