
.domainSelect
{
position: absolute;
left: 195px;
top: 125px;
height: 35px;
width: 251px;
z-index: 2;
}

#uNameImgDomain
{
	position:absolute;	
	left: 0px;
  	top: 0px;
	height:35px;
	width:251px;
	z-index:3;
}

.seslectItem
{
position: absolute;
left: 10px;
top: 3px;
height: 30px;
width: 235px;
font-size: 18px;
color: #6c8ba4;
border: 0px;
z-index: 4;
}

#dymanicPassInput
{
	top:165px;
}

#loginBtnDiv
{
	top: 215px;
}

#userloginpanel
{
	height: 288px;
}

#loginframe
{
	height: 288px;
}

#errorDiv
{
	top: 265px;
}
