*{
	background:none;
}

#popup_container {
	font-family: '微软雅黑', Arial, sans-serif;
	font-size: 16px;
	width: 272px;
	min-width:0;
	height: 175px;
	color: #FFFFFF;
	background-color: #0b1b44;
	padding:0;
	margin:0;
	border:2px solid #ECEDED;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	box-shadow: 0px 0px 4px black;
	-moz-box-shadow: 0px 0px 4px black;
	-webkit-border-shadow: 0px 0px 4px black;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	opacity:0.8;
	text-shadow: 0px -1px 0px black;

	background: url(images/dialog_background.png)\0;
	border : none\0;
	filter : none\0;
}

#popup_title {
	font-size: 18px;
	text-align: center;
	font-weight:normal;
	padding: 0;
	margin: 0;
	border:none;
	width:100%;
	height:36px;
	line-height:49px;
	background: url(images/dialog_title_bg.png) left top no-repeat;
	/*背景图长宽百分比是按照区块来的*/
	background-size:100% 100%;
	
	background: url(images/dialog_title_bg_mini.png) left top no-repeat\0;
}

#popup_content {
	padding:0;
	margin:0;
	width:100%;
	height:124px;
	text-align:center;
}

#popup_content.alert {
	background-image: url(images/info.gif);
	background-size:100% 100%;
}

#popup_content.confirm {
	background-image: url(images/important.gif);
	background-size:100% 100%;
}

#popup_content.prompt {
	background-image: url(images/help.gif);
	background-size:100% 100%;
}

#popup_message {
	font-size: 16px;
	padding:0;
	margin:0;
	height:60px;
	
	width:98%;
	margin:15px auto;
	text-align : center;
}

#popup_panel {
	text-align: center;
	width:100%;
	height:49px;
}

#popup_prompt {
	margin-top:8px;
	margin-bottom:8px;
	color:white;
	width:94%;
	height:18px;
	line-height:18px;
	font-size:16px;
	padding:6.4px;
	box-shadow:none;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

#popup_container #popup_ok {
	display:block;
	width:127px;
	height:42px;
	line-height:42px;
	background:url(images/dilog_button.png);
	background-size:100% 100%;
	border:none;
	font-size: 18px;
	text-align: center;
	font-weight:normal;
	
	float:left;
	margin-left:7px;
}

#popup_container #popup_ok:hover{
	background:url(images/dilog_button_hover.png);
	border:none;
}

#popup_container #popup_cancel {
	display:block;
	width:127px;
	height:42px;
	line-height:42px;
	background:url(images/dilog_button.png);
	background-size:100% 100%;
	border:none;
	font-size: 18px;
	text-align: center;
	font-weight:normal;
	
	float:right;
	margin-right:7px;
	margin-top:-92px;
}

#popup_container #popup_cancel:hover {
	background:url(images/dilog_button_hover.png);
	border:none;
}

#alert_popup_ok  {
	display:block;
	width:127px;
	height:42px;
	line-height:42px;
	background:url(images/dilog_button.png);
	background-size:100% 100%;
	border:none;
	color:white;
	
	font-size: 18px;
	text-align: center;
	font-weight:normal;
	font-family: '微软雅黑', Arial, sans-serif;
	margin-left:27%;
}

#alert_popup_ok:hover{
	background:url(images/dilog_button_hover.png);
	border:none;
}

#popup_container #prompt_ok {
	display:block;
	width:127px;
	height:42px;
	line-height:42px;
	background:url(images/dilog_button.png);
	background-size:100% 100%;
	border:none;
	font-size: 18px;
	text-align: center;
	font-weight:normal;
	
	float:left;
	margin-left:7px;
	margin-top:-47px;
}

#popup_container #prompt_ok:hover{
	background:url(images/dilog_button_hover.png);
	border:none;
}

#popup_container #prompt_cancel {
	display:block;
	width:127px;
	height:42px;
	line-height:42px;
	background:url(images/dilog_button.png);
	background-size:100% 100%;
	border:none;
	font-size: 18px;
	text-align: center;
	font-weight:normal;
	
	float:right;
	margin-right:7px;
	margin-top:-47px;
}

#popup_container #prompt_cancel:hover {
	background:url(images/dilog_button_hover.png);
	border:none;
}









