.domainSelect
{
	position:absolute;
	top:130px;
	width:300px;
	height:41px;
	left:15px;
}

.seslectItem
{
	width:100%;
	height:100%;
	background-color:white;
	border:0px;
	-webkit-border-radius:5px;
}

.buttonStyle
{
	top:185px;
}

.loginContainer
{
	height:250px;
}

.rembergroup
{
	top:260px;
}