<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation=" 
     http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
     http://www.springframework.org/schema/tx 
     http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     http://www.springframework.org/schema/aop 
     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<!-- BoneCP configuration -->
	<bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource"
		destroy-method="close">
		<property name="driverClass" value="org.sqlite.JDBC" />
		<property name="jdbcUrl" value="jdbc:sqlite:/opt/WI/tomcat/WI/ROOT/uns/uns.db" />
		<property name="username" value=""></property>
		<property name="password" value=""></property>
		<property name="IdleConnectionTestPeriodInMinutes" value="60" />
		<property name="IdleMaxAgeInMinutes" value="60" />
		<property name="maxConnectionsPerPartition" value="20" />
		<property name="minConnectionsPerPartition" value="5" />
		<property name="partitionCount" value="1" />
		<property name="acquireIncrement" value="5" />
		<property name="statementsCacheSize" value="100" />
		<property name="releaseHelperThreads" value="3" />
		<property name="acquireRetryAttempts" value="3" />
		<property name="ConnectionTimeoutInMs" value="5000" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">com.huawei.uns.db.SQLiteDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.generate_statistics">true</prop>
				<prop key="hibernate.connection.release_mode">auto</prop>
				<prop key="hibernate.autoReconnect">true</prop>
				<prop key="hibernate.jdbc.use_scrollable_resultset">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				
			</props>
		</property>
		<property name="packagesToScan" value="com.huawei.uns.db.vo">
		</property>		
	</bean>
	<bean id="baseDao" class="com.huawei.uns.db.dao.BaseDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

</beans>
