@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑", "宋体";
}
html {
	overflow: hidden;
}
a:link {
	color: #fff110;
	text-decoration: none;
}
a:visited {
	color: #fff110;
	text-decoration: none;
}
a:hover {
	color: #dcdcdc;
	text-decoration: underline;
}
.title a:link {
	color: #6890d8;
	text-decoration: none;
}
.title a:visited {
	color: #6890d8;
	text-decoration: none;
}
.title a:hover {
	color: #0000ff;
	text-decoration: underline;
}

a img {
	border: 0px none #000;
}
	
body{
	font-size: 14px;
	line-height: 1.5em;
	background-color: #595757;
	color: #4a4949;
}
.STYLE2 {font-size: 18px}

.STYLE6 {font-size: 16px}
.STYLE7 {color:#FFFFFF}
.STYLE8 {font-size: 16px}
.liststyle{background: url(../images/icon_list.png) 0 10px no-repeat; padding-left:15px;}

/*帮助主页*/
.index {
	height: 600px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/welcome.png);
	background-repeat: no-repeat;
	position: relative;
<<<<<<< HEAD
	background-color: #000000;
=======
>>>>>>> 7cf7c9997bcec953e9a329c30100afadb59cc3b7
}
.index .table{
	height: 118px;
	width: 284px;
	position: absolute;
	left: 285px;
	top: 150px;
	font-size: 18px;
}.index .marquee{
	height: 30px;
	width: 640px;
	position: absolute;
	left: 80px;
	top: 60px;
	font-size: 18px;
	marquee-direction: left;
	marquee-speed: 2;
}

/*帮助正文*/
.section {
	height: 600px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/main.png);
	background-repeat: no-repeat;
	position: relative;
}
.section .header {
	height: 40px;
}

.section .header .table-1  {
	height: 30px;
	width: 475px;
	position: absolute;
	left: 30px;
	top: 7px;
	color:#dcdcdc
}
.section .header .table-2 {
	height: 30px;
	width: 145px;
	position: absolute;
	right: 30px;
	top: 7px;
}
.section .subpage {
	height: 30px;
	width: 740px;
	position: absolute;
	left: 30px;
	top: 45px;
}
.section .subpage a:link {
	color: #6890d8;
	text-decoration: none;
}
.section .subpage a:visited {
	color: #6890d8;
	text-decoration: none;
}
.section .subpage a:hover {
	color: #0000ff;
	text-decoration: underline;
}
.section .table-common {
	height: 400px;
	width: 740px;
	position: absolute;
	right: 30px;
	top: 80px;
}
.section .table-common a:link {
	color: #6890d8;
	text-decoration: none;
}
.section .table-common a:visited {
	color: #6890d8;
	text-decoration: none;
}
.section .table-common a:hover {
	color: #0000ff;
	text-decoration: underline;
}
